/almoneya-api/project/target
/almoneya-api/target

/almoneya-frontend/elm-stuff
/almoneya-frontend/node_modules
/almoneya-frontend/public/assets
/almoneya-frontend/public/js/bundle.js

/.byebug_history
/.idea
/project
/target

/npm-debug.log
/.vagrant
