/almoneya-api/.idea
/almoneya-api/project/target
/almoneya-api/target

/almoneya-frontend/elm-stuff
/almoneya-frontend/node_modules
/almoneya-frontend/public/assets
/almoneya-frontend/public/js/bundle.js

/.byebug_history
/.vagrant
/npm-debug.log
/project
/target
