[project]
	description = Double-entry accounting system written in Scala + Elm over PostgreSQL
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/François Beausoleil (francois)
[access "refs/for/refs/*"]
	read = group user/François Beausoleil (francois)
	push = group user/François Beausoleil (francois)
	label-Code-Review = -2..+2 group user/François Beausoleil (francois)
	label-Verified = -1..+1 group user/François Beausoleil (francois)
	rebase = group user/François Beausoleil (francois)
	removeReviewer = group user/François Beausoleil (francois)
	submit = group user/François Beausoleil (francois)
[access "refs/heads/*"]
	read = group user/François Beausoleil (francois)
	create = group user/François Beausoleil (francois)
	push = +force group user/François Beausoleil (francois)
	pushMerge = group user/François Beausoleil (francois)
[access "refs/tags/*"]
	push = group user/François Beausoleil (francois)
	push = +force group user/François Beausoleil (francois)
