<!DOCTYPE html>
<html lang="en">
<head>
<title>Dashboard</title>
</head>
<body>
<h1>Dashboard</h1>
<p>Name: <%= authenticated_user.surname %> <%= authenticated_user.rest_of_name %></p>
<p>User ID: <%= authenticated_user.id %></p>
<p>Locale: <%= locale %></p>
</body>
</html>
