<div class="large-offset-4 medium-offset-3 small-offset-2 small-8 medium-6 large-4 columns">
  <h1>Sign In</h1>

  <form action="<%= url("/sign-in") %>" method="post">
    <% if @failed then %>
      <div class="callout alert">
        <p>We're sorry, but we don't recognize this username and / or password combination.</p>
        <p>Please try again, or <a href="/contact/support">contact support</a>.</p>
      </div>
    <% end %>
    <div>
      <label>Username: <input type="text" name="sign_in[username]"/></label>
    </div>
    <div>
      <label>Password: <input type="password" name="sign_in[password]"/></label>
    </div>
    <button type="submit" class="large button">Sign In</button>
  </form>
</div>
